@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply inline-block;
  @apply cursor-pointer;
}
body {
  @apply text-gray-800;
  @apply font-sans antialiased;
}
body, button, a,  {
  touch-action: manipulation; /* prevent weird zoom on iOS Safari */
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: 0;
}
